<header class="header">
  <div class="header-content">
    <a class="header-flex" href="<%= root_path %>">
      <%= image_tag 'saso.svg', class: 'header-logo', alt: 'Saso' %>

      <h1 class="header-title">Saso</h1>
    </a>

    <div class="header-spacer"></div>

    <% if logged_in? %>
        <a class="header-button-link" href="<%= dashboard_path %>">
          <button class="header-button">Dashboard</button>
        </a>

        <a class="header-button-link" href="<%= logout_path %>">
          <button class="header-button">Logout</button>
        </a>
    <% else %>
        <a class="header-button-link" href="<%= login_path %>">
          <button class="header-button">Login</button>
        </a>
    <% end %>
  </div>
</header>
